body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SFONDO */
.theme-light .content {
    background-image: url('Sfondo/caserma_natalizia.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
        display: flex;
}

.theme-dark .content {
    background-image: url('Sfondo/caserma_natalizia.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
        display: flex;
}

.theme-christmas .content {
    background-image: url('Sfondo/caserma_natalizia.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
        display: flex;
}
/* SFONDO */

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;

}

.welcome-box {
    background-color: rgb(134, 51, 51, 0.85); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    max-width: 600px;
    width: 90%;
        background-color: rgb(134, 51, 51, 0.85); 
}

.welcome-message {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 
        1px 1px 0 #fff,
       -1px -1px 0 #fff,
        1px -1px 0 #fff,
       -1px 1px 0 #fff;
    color: rgb(71, 17, 17)
}


/* HEADER */
.theme-light .main-header {
    background-color: rgba(231, 231, 231, 0.9);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    transition: background-color 0.4s ease-out;
}

.theme-dark .main-header {
    background-color: rgba(10, 10, 10, 0.9);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    transition: background-color 0.4s ease-out;
}

.theme-christmas .main-header {
    background-color: rgba(150, 62, 73, 0.9);
    position: sticky; 
    top: 0;
    z-index: 50; 
    padding: 5px 0; 
    transition: background-color 0.4s ease-out;
}
/* HEADER */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

/* TITOLO */
.theme-light .header-title,
.theme-dark .header-title {
    flex-grow: 1; 
    text-align: center; 
    font-size: 1.8rem;
    font-weight: bold;
    color: #af3745; 
}

.theme-christmas .header-title {
    flex-grow: 1; 
    text-align: center; 
    font-size: 1.8rem;
    font-weight: bold;
    color: #f1f1f1; 
}
/* TITOLO */

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo img {
    height: 10rem; 
    width: auto;
}

.header-right-controls {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;
}

.theme-switcher {
    display: flex;
    gap: 40px;
    align-items: center;
}

.theme-switcher button {
    width: 45px; 
    height: 45px; 
    background-color: transparent;
    border: none;
    padding: 0; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SOLE LUNA ALBERO */
.theme-dark .theme-switcher button img,
.theme-christmas .theme-switcher button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    filter: invert(1); 
    transition: filter 0.1s;
}

.theme-light .theme-switcher button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    transition: filter 0.1s;
}
/* SOLE LUNA ALBERO */

/* HOVER SOLE LUNA ALBERO */
.theme-light #theme-light:hover img,
.theme-dark #theme-light:hover img,
.theme-light #theme-dark:hover img,
.theme-dark #theme-dark:hover img,
.theme-light #theme-christmas:hover img,
.theme-dark #theme-christmas:hover img
{
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}

.theme-christmas #theme-light:hover img,
.theme-christmas #theme-dark:hover img,
.theme-christmas #theme-christmas:hover img {
    filter: invert(15%) sepia(50%) saturate(1500%) hue-rotate(330deg) brightness(80%);
}
/* HOVER SOLE LUNA ALBERO */

.theme-switcher button:hover {
    transform: scale(1.15); 
    border-color: transparent;
    transition: transform 1s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.header-bottom {
    display: block; 
    text-align: center;
    padding-top: 5px; 
}

.main-nav-desktop ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-nav-desktop li {
    margin: 0 10px;
}

/* MENU */
.theme-light .main-nav-desktop a {
    text-decoration: none;
    color: #131313;
    font-size: 1rem;
    padding: 10px 10px;
    display: inline-flex; 
    align-items: center; 
    position: relative;
    transition: color 0.3s;
    font-weight: bold;
}

.theme-dark .main-nav-desktop a,
.theme-christmas .main-nav-desktop a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1rem;
    padding: 10px 10px;
    display: inline-flex; 
    align-items: center; 
    position: relative;
    transition: color 0.3s;
}
/* MENU */

.main-nav-desktop a {
    position: relative;
    display: block;
    text-decoration: none;
}

.main-nav-desktop a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.4s ease-out;
}

/* PASSARCI SOPRA MENU */
.main-nav-desktop a:hover::after, 
.main-nav-desktop a:focus::after {
    width: 100%;
}

.theme-light .main-nav-desktop a:hover, 
.theme-light .main-nav-desktop a:focus, 
.theme-dark .main-nav-desktop a:hover, 
.theme-dark .main-nav-desktop a:focus {
    color: #af3745;
}

.theme-light .main-nav-desktop a:hover::after, 
.theme-light .main-nav-desktop a:focus::after,
.theme-dark .main-nav-desktop a:hover::after, 
.theme-dark .main-nav-desktop a:focus::after {
    background-color: #af3745;
}

.theme-christmas .main-nav-desktop a:hover, 
.theme-christmas .main-nav-desktop a:focus {
    color: #410000;
}

.theme-christmas .main-nav-desktop a:hover::after, 
.theme-christmas .main-nav-desktop a:focus::after {
    background-color: #410000;
}
/* PASSARCI SOPRA MENU */

/* PAGINA ATTUALE */
.theme-light .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"],
.theme-dark .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"] {
    color: #af3745;
    font-weight: bold;
}

.theme-christmas .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"] {
    color: #410000;
    font-weight: bold;
}

.theme-light .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"]::after, 
.theme-dark .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"]::after {
    width: 100%;
    background-color: #af3745;
    font-weight: bold;
}

.theme-christmas .main-nav-desktop ul li a[href="../Guardaci/Guardaci.html"]::after {
    width: 100%;
    background-color: #410000;
}
/* PAGINA ATTUALE */

.main-nav-desktop a img {
    height: 1.3rem; 
    width: auto;
    margin-right: 5px; 
}

.theme-dark .main-nav-desktop a img,
.theme-christmas .main-nav-desktop a img {
    height: 1.3rem; 
    width: auto;
    margin-right: 5px; 
    filter: invert(1);
}


/* CASA */
.theme-light .main-nav-desktop a:hover img,
.theme-light .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}


.theme-dark .main-nav-desktop a:hover img,
.theme-dark .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}


.theme-christmas .main-nav-desktop a:hover img,
.theme-christmas .main-nav-desktop a:focus img 
{
    filter: invert(15%) sepia(50%) saturate(1500%) hue-rotate(330deg) brightness(80%);
}
/* CASA */
    

/* FOOTER */
.theme-light .main-footer {
    position: sticky; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(231, 231, 231, 0.9);
    color: #131313;
    padding: 20px 0;
    font-size: 0.9rem;
    transition: background-color 0.4s ease-out;
}

.theme-dark .main-footer {
    position: sticky; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.9);
    color: #f1f1f1;
    padding: 20px 0;
    font-size: 0.9rem;
    border-top: 1px solid #333; 
    transition: background-color 0.4s ease-out;
}

.theme-christmas .main-footer {
    position: sticky; 
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(150, 62, 73, 0.9);
    color: #f1f1f1;
    padding: 20px 0;
    font-size: 0.9rem;
    border-top: 1px solid #333; 
    transition: background-color 0.4s ease-out;
}
/* FOOTER */

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/* LINK FOOTER */
.theme-light .footer-links a {
    color: #131313;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.3s;
}

.theme-dark .footer-links a,
.theme-christmas .footer-links a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.3s;
}

.theme-light .footer-links a:hover {
    color: #af3745;
}

.theme-dark .footer-links a:hover {
    color: #af3745;
}

.theme-christmas .footer-links a:hover {
    color: #410000;
}
/* LINK FOOTER */

.snowflake {
    display: none;
    position: fixed;
    color: #fff;
    font-size: 1em;
    opacity: 0.8;
    text-shadow: 0 0 1px #fff;
    animation: fall linear infinite;
    pointer-events: none;
    z-index: 9999;
    will-change: transform;
}

body.theme-christmas .snowflake {
    display: block;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}