body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px; 
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SFONDO */
.theme-light .content {
    background-image: url('Sfondo/SfondoLight.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

.theme-dark .content {
    background-image: url('Sfondo/SfondoDark.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}

.theme-christmas .content {
    background-image: url('Sfondo/SfondoNatalizio.png');
    background-position: top center; 
    background-size: cover; 
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: #1a1a1a; 
    flex-grow: 1;
    display: flex;
}
/* SFONDO */

.main-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;

}

.welcome-box {
    background-color: rgb(134, 51, 51, 0.85); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    max-width: 600px;
    width: 90%;
        background-color: rgb(134, 51, 51, 0.85); 
}

.welcome-message {
    text-align: center;
    padding: 10px;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 
        1px 1px 0 #fff,
       -1px -1px 0 #fff,
        1px -1px 0 #fff,
       -1px 1px 0 #fff;
    color: rgb(71, 17, 17)
}

.main-nav-desktop a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.4s ease-out;
}

.main-nav-desktop a.active::after, 
.main-nav-desktop a:hover::after, 
.main-nav-desktop a:focus::after {
    width: 100%;
}

/* PASSARCI SOPRA MENU */
.theme-light .main-nav-desktop a.active, 
.theme-light .main-nav-desktop a:hover, 
.theme-light .main-nav-desktop a:focus,
.theme-dark .main-nav-desktop a.active, 
.theme-dark .main-nav-desktop a:hover, 
.theme-dark .main-nav-desktop a:focus {
    color: #af3745;
}

.theme-light .main-nav-desktop a.active::after, 
.theme-light .main-nav-desktop a:hover::after, 
.theme-light .main-nav-desktop a:focus::after,
.theme-dark .main-nav-desktop a.active::after, 
.theme-dark .main-nav-desktop a:hover::after, 
.theme-dark .main-nav-desktop a:focus::after {
    background-color: #af3745; 
}

.theme-christmas .main-nav-desktop a.active, 
.theme-christmas .main-nav-desktop a:hover, 
.theme-christmas .main-nav-desktop a:focus {
    color: #410000;
}

.theme-christmas .main-nav-desktop a.active::after, 
.theme-christmas .main-nav-desktop a:hover::after, 
.theme-christmas .main-nav-desktop a:focus::after {
    background-color: #410000;
}
/* PASSARCI SOPRA MENU */

.main-nav-desktop a img {
    height: 1.3rem; 
    width: auto;
    vertical-align: middle; 
    margin-right: 5px; 
    border: none;
    transition: filter 0.3s;
}

/* CASA */
.theme-light .main-nav-desktop a.active img,
.theme-light .main-nav-desktop a:hover img,
.theme-light .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}

.theme-dark .main-nav-desktop a.active img,
.theme-dark .main-nav-desktop a:hover img,
.theme-dark .main-nav-desktop a:focus img {
    filter: invert(20%) sepia(80%) saturate(1400%) hue-rotate(330deg) brightness(90%);
}

.theme-christmas .main-nav-desktop a.active img,
.theme-christmas .main-nav-desktop a:hover img,
.theme-christmas .main-nav-desktop a:focus img 
{
    filter: invert(15%) sepia(50%) saturate(1500%) hue-rotate(330deg) brightness(80%);
}
/* CASA */